/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.container {
    padding-top: 50px;
    padding-bottom: 10px;
}

.alert {
    padding-top: 10px; 
}

.login-button a{
    color: #ffffff;
}

.login-button a:visited{
    color: #ffffff;
}

.login-button a:hover{
    text-decoration: none;
}

.navbar-search {
    padding-right: 10px;
    padding-left: 10px;
}

.nav_title  {
    padding-left: 10px;
}


.footer {
    border-top: solid 1px #F0F0F0;
    background: #FAFAFA;
}

