// Place all the styles related to the Menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
    color: #c4c4c4;
}


.menu_table {
    padding: 20px;
}

.menus tr{
    border-bottom: solid 1px #CCC;
    padding: 10px;
}

.menus td{
    padding: 10px;
    background: #FAFAFA;
    
} 

.menu_table a:hover {
    background: none;
    text-decoration: underline;
    color: #777777;
}

.sidebar_title{
    border-bottom: solid 1px #CCC;
    padding-bottom: 5px;
}

.sidebar_list{
    padding-top: 5px;
}

.categories-list {
    color: #ff00cc;
    margin-top: 10px;
    margin-bottom: 10px;
}

.categories-list strong{
    font-weight: bold;
    color: #667fff;
    font-size: 15.5px;
    
}
